html, body {
    margin: 0;
    padding: 0;
    background: black;
}
 
.container-fluid{
    background: none;
}
.column{
    height: 100vh;
    border-right: 1px solid white;
}

.slider{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  