html, body {
    margin: 0;
    padding: 0;
    background: black;
}
 
.container-fluid{
    background: none;
}
.column{
    height: 100vh;
    border-right: 1px solid white;
}

.label{
    color: white;
    margin-right: 40px;
}   
.value{
    color: white;
}
.slider{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  