html, body {
  margin: 0;
  padding: 0;
  background: black;
  /* overflow: hidden !important; */
  /* overflow-x: hidden; */
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: block;
  z-index: 10;
}
